* {
   background-color: #252525;
}

body{
   margin: 0;
}

div.container {
    height: 100vh;
   position: relative;
}

div form {
   margin: 0;
/*    background: yellow;*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

div form button {
   margin: 0;
/*    background: yellow;*/
   position: absolute;
/*   top: 50%;*/
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
}


div h3 {
   margin: 0;
/*    background: yellow;*/
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

input {
   background-color: white;
   color: #252525;
   padding: 5px;
   border-radius: 5px;
   decoration: none;
}

button {
   background-color: white;
   color: #252525;
   border-radius: 5px;
   decoration: none;
}

a {
   text-decoration: none;
   color: white;
}




